{% raw %}
{% assign node_path = include.path | append: '/' %}
{% assign children = include.pages | where_exp: "item", "item.url contains node_path" %}

<li>
  {% if include.path == '/' %}
    <details open>
      <summary>📁 Root</summary>
  {% else %}
    {% assign path_parts = include.path | split: '/' %}
    <details>
      <summary>📁 {{ path_parts | last }}</summary>
  {% endif %}

  <ul>
    {% for child in children %}
      {% assign child_path = child.url | remove: '/' | split: '/' %}
      {% if child_path.size == path_parts.size %}
        <li>📄 <a href="{{ child.url }}">{{ child.title }}</a></li>
      {% else %}
        {% assign new_path = child.url | split: '/' | pop | join: '/' %}
        {% include tree-node.html path=new_path pages=include.pages %}
      {% endif %}
    {% endfor %}
  </ul>
  </details>
</li>
{% endraw %}