<!DOCTYPE html>
<html>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/sidebar.css' | relative_url }}">
<head>
    <title>{{ site.title }}</title>
</head>
<body>
    <div class="sidebar">
        <h3>Articles</h3>
        <ul>
            {% for post in site.posts %}
            <li>
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="main-content">
    </div>
</body>
</html>
