<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.4/katex.min.css">
    <link rel="stylesheet" href="{{ '/assets/css/syntax.css' | relative_url }}">
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.4/katex.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.4/contrib/auto-render.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
      renderMathInElement(document.body, {
        delimiters: [
        { left: "$$", right: "$$", display: true },  // Block math
        { left: "\\[", right: "\\]", display: true },  // Alternative block math (LaTeX standard)
        { left: "$", right: "$", display: false },  // Inline math
        { left: "\\(", right: "\\)", display: false }  // Alternative inline math (LaTeX standard)
      ],
        throwOnError: false  // Helps debug rendering issues
      });
    });
</script>
<head>
    <title>{{ page.title }}</title>
</head>
<body>
    <h1>{{ page.title }}</h1>
    <p><em>{{ page.date | date: "%B %d, %Y" }}</em></p>
    {{ content }}
</body>
</html>
